<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PS Remuneration Calculator</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/marked@0.3.6"></script>
    <script src="https://unpkg.com/lodash@4.16.0"></script>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <div class="container-fluid" id="app">
      <header class="my-3">
        <img
          src="https://pscdnstore.blob.core.windows.net/cdn/logo_no_text/Logo-no-text-teal.png"
          width="60px"
        />
        Policy Services - Remuneration Calculator
      </header>

      <div class="mt-3">
        <div class="slidecontainer">
          <div class="row">
            <p>Drag to chose your Salary Band: (1-10) {{band}}</p>
          </div>
          <input
            type="range"
            min="1"
            max="10"
            value="1"
            class="slider"
            id="bandRange"
            :value="band"
            @input="update_band"
          />
        </div>
      </div>

      <div class="row mt-3" v-if="band">
        <div v-bind="getBandSalary">
          <p>Min: &pound;{{ band_min }} Max: &pound;{{ band_max }}</p>
        </div>

        <div>
          <p>
            PS Pension Scheme (untick if opted out)
            <input type="checkbox" v-model="pension" v-bind:id="pension" />
          </p>
        </div>

        <div>
          <p v-if="pension">
            PS will contribute between &pound;{{pension_min}} and
            &pound;{{pension_max}} to your pension every year ({{ pension_type *
            100}}%).
          </p>
          <p v-else>
            You've opted out of the company pension scheme, so you are in
            complete control of your own pension contributions
          </p>
        </div>
      </div>

      <div class="row my-5">
        <p>Start Year: <input :value="start_year" @input="update_year" /></p>

        <div class="my-2" v-if="start_year" v-bind="yearsCalculated">
          <p>Years Service (this year): {{ years_service }}</p>
        </div>

        <ul class="my-1" v-for="(perk, index) in getPerks" :key="index">
          <li>Years Service: {{ perk.years }}, Perk: {{ perk.name }}</li>
        </ul>
      </div>

      <div v-if="band">
        <p>
          Based on your band and years service, we estimate you will have earned
          between:<br />
          &pound;{{earned_min}} - &pound;{{earned_max}}
        </p>
      </div>
    </div>

    <script>
      let bands = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];

      new Vue({
        el: "#app",
        data: {
          band: "",
          start_year: "",
          years_service: 0,
          band_min: 0,
          band_max: 0,
          earned_min: 0,
          earned_max: 0,
          pension: true,
          pension_type: 0.03,
          pension_min: 0,
          pension_max: 0,
          salary: [
            { min: 100, max: 200, id: 1 },
            { min: 200, max: 300, id: 2 },
            { min: 300, max: 400, id: 3 },
            { min: 400, max: 500, id: 4 },
            { min: 500, max: 600, id: 5 },
            { min: 600, max: 700, id: 6 },
            { min: 700, max: 800, id: 7 },
            { min: 800, max: 900, id: 8 },
            { min: 900, max: 1000, id: 9 },
            { min: 1000, max: 1100, id: 10 }
          ],
          perks: [
            { name: "Free Gym", years: 0 },
            { name: "Free Parking", years: 0 },
            {
              name: "Pension match 3%",
              years: 0,
              pension: 7
            },
            { name: "Extra day holiday", years: 5 },
            { name: "Pension match 5%", years: 8, pension: 8 },
            { name: "Private Healthcare", years: 10 }
          ]
        },
        computed: {
          getBandSalary: function () {
            let current_salary = this.salary.find(
              (salary_band) => salary_band.id == this.band.trim()
            );

            if (current_salary) {
              this.band_min = current_salary.min;
              this.band_max = current_salary.max;

              this.earned_min = this.band_min * this.years_service;
              this.earned_max = this.band_max * this.years_service;

              if (this.pension) {
                this.pension_min = this.band_min * (0.0 + this.pension_type);
                this.pension_max = this.band_max * (0.0 + this.pension_type);
              }
            }
          },
          yearsCalculated: function () {
            let today = new Date();
            if (this.start_year >= 2000) {
              let start = new Date(this.start_year + "-01-01");
              this.years_service = today.getFullYear() - start.getFullYear();
              if (this.years_service >= 8) {
                this.pension_type = 0.05;
              }
            }
          },
          getPerks: function () {
            if (this.years_service) {
              return this.perks.filter((perk) => {
                if (this.years_service >= String(perk.years)) {
                  // hide/show correct pension perk based on years service
                  if (this.years_service >= 8 && perk.pension === 7) {
                    return false;
                  } else if (this.years_service < 8 && perk.pension === 8) {
                    return false;
                  }

                  return perk;
                }
              });
            }
          },
          compiledMarkdown: function () {
            return marked(this.band, { sanitize: true });
          }
        },
        methods: {
          update_band: _.debounce(function (e) {
            this.band = e.target.value;
          }, 300),
          update_year: _.debounce(function (e) {
            this.start_year = e.target.value;
          }, 300)
        }
      });
    </script>
  </body>
</html>
